:root{
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869; 
    --jungle-green: #49A078; 
    --cambridge-blue: #9CC5A1; 
    --eminence: #533172; 
}

section .container {
	display: grid;
    gap: 20px;
}

/*Styler section 1 i cons*/
#section1{
    padding: 20px;
}

#section1 h1{
    border-bottom: solid 3px var(--mountbatten-pink);
}

#section1 div{
    justify-content: center;
}

/*Styler hva_er_et_ekkokammer*/
#hva_er_et_ekkokammer{
    margin-top: 40px;
}

#hva_er_et_ekkokammer .container{
    grid-template-columns: 1fr 1fr;
}

#hva_er_et_ekkokammer div{
    margin-top: 40px;
}

#hva_er_et_ekkokammer #positivt,#negativt{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
}

i{
    font-size: 30px;
}

/*Styler effekten av ekkokamre*/
#effekt .container{
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
}

#effekt{
    background-color: var(--cambridge-blue);
    margin-top: 40px;
}

#effekt div:nth-of-type(1){
    grid-column: 1/3;
}

/*Styler forebygging*/
#forebygging .container{
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--mountbatten-pink);
    border-radius: 10px;
}








