:root{
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869; 
    --jungle-green: #49A078; 
    --cambridge-blue: #9CC5A1; 
    --eminence: #533172; 
}

section .container {
	display: grid;
}

/*Styler section 1 i cons*/
#section1{
    padding: 20px;
}

#section1 h1{
    border-bottom: solid 3px var(--mountbatten-pink);
}

#section1 div{
    justify-content: center;
}

/*Styler hva_er_et_ekkokammer*/
#hva_er_et_ekkokammer{
    margin-top: 40px;
    background-color: var(--cambridge-blue);
}

#hva_er_et_ekkokammer .container{
    grid-template-columns: 1fr 1fr;
}







