:root {
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869;
    --jungle-green: #49A078;
    --cambridge-blue: #9CC5A1;
    --eminence: #533172;
}


#mini-header {
    padding: 20px;
}

#mini-header div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#mini-header h1 {
    border-bottom: solid 3px var(--mountbatten-pink);
}

h2 {
    font-size: 40px;
}


#safety {
    height: 250px;
    width: 300px;
    margin: 0 10px;

}

#intro {
    display: grid;
    grid-template-rows: 2;
    gap: 10px;
}

#flex-intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.links {
    width: 100%;
    height: 50px;
    background-color: var(--cambridge-blue);
    margin: 5px 0;
    padding: 5px;
    border: solid 3px var(--caribbean-current);
    color: black;
}

.links .icon {
    font-size: 25px;
}

.links:hover {
    background-color: var(--caribbean-current);
    border-color: var(--cambridge-blue);
    /* prøver å få til en transition liknende effekt med pilen
    justify-content: space-between; */
    transition: 1s;

}

.links a:hover {
    color: white;
    transition: 1s;
}

#effect {
    padding: 10px;
    background-color: var(--mountbatten-pink);
}

#effects {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.number {
    font-size: 50px;
    color: white;
}

#effect p {
    color: white;
}

#effect h2 {
    color: white;
}

#effect h2 {
    text-align: center;
    padding: 20px;
}

.regulations {
    width: 400px;
    height: 250px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#norway {
    margin: 20px;
}

#norway h2 {
    border-bottom: solid 3px var(--cambridge-blue);
}

#norway p {
    font-size: 25px;
    padding: 10px 0;
}

#norway img{
    width: 100%;
    height: 50px;
    margin: -20px 0;
}

#cookies .title{
    display: flex;
    align-items: center;

}

#cookies img{
    width: 120px;
    height: 120px;
}