:root{
    --mountbatten-pink: #A28497; 
    --caribbean-current: #216869; 
    --jungle-green: #49A078; 
    --cambridge-blue: #9CC5A1; 
    --eminence: #533172; 
}

#mini-header{
    color: var(--jungle-green);
    padding: 20px;
}
#mini-header div{
display: flex;
justify-content: center;
gap: 20px;
}

h1{
    font-size: 40px;
}