:root {
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869;
    --jungle-green: #49A078;
    --cambridge-blue: #9CC5A1;
    --eminence: #533172;
}

#hero {
    background-image: url('../images/forside/ikoner.jpg.webp');
    min-height: 660px;
    background-size: cover;
}

section {
    align-content: center;
    display: grid;
}

h1 {
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

/* hva er sosial medier */

.box_1 {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.grid > h2 {
    grid-column: 1/3;
}

.fun {
    background-color: var(--jungle-green);
    border-radius: 10px;
}


/* flip the coin*/

#overskrift_p_c {
    background-color: #9CC5A1;
}

.container_1 {
    max-width: 1000px;
    margin: auto;

}


/* om innholdet vårt */

h2 {
    text-align: center;
    background-color: var(--mountbatten-pink);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    /* Justere for å unngå ekstra mellomrom mellom boksene */
}

.box {
    flex: 1 0 calc(50% - 20px);
    /* To bokser ved siden av hverandre med 20px mellomrom */
    margin: 10px;
    /* Mellomrom mellom boksene */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
}

.box h3 a:hover{
    text-decoration: underline;
}

.box h3{
    color: black;
}

/*Footer*/

#footer-title {
    text-align: left;
}