* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
    --mountbatten-pink: #A28497; 
    --caribbean-current: #216869; 
    --jungle-green: #49A078; 
    --cambridge-blue: #9CC5A1; 
    --eminence: #533172; 
}

img{
    width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/*nav bar*/
nav {
    background-color: var(--caribbean-current);
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}

.flexbox {
    display: flex;
}


nav h1 {
    font-size: 50px;
    margin: 10px;
    color: white;
}

#nav {
    display: flex;
}

nav li{
    list-style-type: none;
    margin-left: 5px;
    flex-direction: row;
    margin: 10px 5px;
    font-size: 20px;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: underline;
}
/* 
.icon{
    font-size: 50px;
} */