@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: "Playpen Sans"; (titler)
font-family: "Poppins"; (tekst)
*/

h1,
h2,
h3 {
    font-family: "Playpen Sans";
}

p,
li,
span,
div,
a,
button {
    font-family: "Poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869;
    --jungle-green: #49A078;
    --cambridge-blue: #9CC5A1;
    --eminence: #533172;
    --blue: #3A445D;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/*nav bar*/
header {
    background-color: var(--caribbean-current);
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

section:nth-of-type(1) {
    margin-top: 90px;
}

.flexbox {
    display: flex;
    gap: 15px;
    align-items: center;
}


nav p {
    font-size: 50px;
    margin: 10px;
    color: white;
}

nav i {
    font-size: 30px;
}

#nav {
    display: flex;
    justify-content: space-between;
    height: 90px;
}

nav li {
    list-style-type: none;
    margin-left: 5px;
    flex-direction: row;
    margin: 10px 5px;
    font-size: 20px;
    justify-content: flex-end;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    text-decoration: underline;
}

/*Nav-bar smal skjerm*/
#drop_down {
    display: none;
    color: white;
    margin: auto;
}

#linker {
    color: white;
    background-color: #58a4a5;
    transition: 1s;
    height: max-content;
    display: none;
}

.show {
    display: none;
}

#div_meny {
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
}

/* kilder på bunnen av siden før footer */
/* #mySources button {
    color: white;
    background-color: #533172;
    font-size: 25px;
    border-radius: 10px;
    padding: 0 5px;
    width: 100px;
} */


#mySources a {
    padding: 5px;
    max-width: fit-content;
}

#mySources a:hover {
    border-bottom: 2px black solid;
}

.sourceInnhold {
    display: none;
    flex-direction: column;
    transition: all 0.5s ease; /* Legg til en overgangseffekt på endring av display-egenskapen */
}

/* Legg til en klasse for å rotere ikonet */
.rotate180 {
    transform: rotate(180deg);
}


footer{
    background-color: var(--blue);
    color: white;
    padding: 20px;
}

footer p{
    font-size: 18px;
}

footer .container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
}

#footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon{
    font-size: 250px;
    opacity: 0.8;
}

@media only screen and (max-width: 980px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
    }

    .container {
        max-width: 800px;
    }

    p {
        font-size: 18px;
    }

    nav p {
        font-size: 30px;
    }

    nav a {
        font-size: 18px;
    }



}

@media only screen and (max-width: 700px) {
    #drop_down {
        display: block;
    }

    #nav_bred {
        display: none;
    }

    #linker {
        display: block;
    }

    .show {
        display: block;
        height: 0px;
        opacity: 0;
        transition: 1s;
    }


}