:root {
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869;
    --jungle-green: #49A078;
    --cambridge-blue: #9CC5A1;
    --eminence: #533172;
}


#intro {
    padding: 20px;
}

#intro div {
    justify-content: center;
}

#header h1 {
    font-size: 50px;
    border-bottom: solid 3px var(--mountbatten-pink);
}

p{
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;

}

.use-title {
    color: var(--caribbean-current);
    font-size: 30px;
}

.use-box {
    /*flex: 1;*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--cambridge-blue);
    color: black;
    width: 600px;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: 400px;
    height: auto;
    display: block;
}

#sosiale-medier {
    display: flex;
    flex-direction: column;
    background-color: var(--mountbatten-pink);
    color: white;
    margin-top: 30px;
    padding: 90px;
    text-align: center;
    font-size: 20px;
}

.centered {
    text-align: center;
    font-size: 40px;
    color: var(--eminence);
}

#most-used {
    margin: 0 auto; /* Sentrerer listeelementene */
}

