@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: "Playpen Sans";
font-family: "Poppins";
*/

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main p {
    font-family: "Poppins", sans-serif;
}

main h2 {
    text-align: center;
    font-family: "Playpen Sans", sans-serif;
    font-size: 30px;
}

hr {
    border-top: 4px solid #533172;
    border-radius: 70px;
    margin: 35px;
}

/*styler hovedtittelen */
h1 {
    font-size: 35px;
    font-family: "Playpen Sans";
    border-bottom: solid 3px var(--mountbatten-pink);
    width: fit-content;
    margin: auto;
}

/* padding rundt hovedtittel*/
section:first-of-type {
    padding: 20px;
}

section:nth-of-type(2) h2 {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    margin: 30px 0;
}

/* endrer padding i accordion */
#panel .grid {
    padding: 0;
}

/* tilpasser grid i section 2 */
section:nth-of-type(2) .grid {
    grid-template-columns: 1.5fr 1fr;
}

/* tilpasser grid i section 3 */
section:nth-of-type(3) .grid {
    grid-template-columns: 1fr 1.5fr;
}

section:nth-of-type(3) {
    background-color: var(--jungle-green);
    color: black;
}

section:nth-of-type(4) img {
    width: 80px;
    border: 5px solid var(--eminence);
}

section:nth-of-type(4) .flex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(4) .flex {
    justify-content: space-evenly;
}

section:nth-of-type(4)>.container>div>p:first-of-type {
    text-align: center;
    font-size: 24px;
}

section:nth-of-type(4)>.container>div span:first-of-type {
    font-size: 25px;
}

section:nth-of-type(4) p {
    text-align: center;
}

/* styler titlene for de 4 prinsippene i section 4 */
h3 {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    background-color: var(--eminence);
    color: white;
    padding: 3px 7px;
    border-radius: 40px;
    margin-top: 5px;
}

/* for å style noen ord og tall */
.colourful {
    color: #0d8291;
    font-weight: bold;
    font-size: 20px;
}

section:nth-of-type(4) .container:nth-of-type(2) a {
    padding: 3px 15px;
    width: fit-content;
    text-align: center;
    background-color: var(--cambridge-blue);
    border: solid 3px var(--caribbean-current);
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    border-radius: 10px;
    font-size: 20px;
}

/* linken i section om de 4 prinsippene */
section:nth-of-type(4) .container:nth-of-type(2) a:hover {
    background-color: var(--caribbean-current);
    border-color: var(--cambridge-blue);
    color: white;
    transition: background-color 1s, color 2s;
}

section:nth-of-type(5) {
    background-color: var(--mountbatten-pink);
}

section:nth-of-type(5) h2,
section:nth-of-type(5) p {
    color: white;
}

section:nth-of-type(5) img {
    width: 100%;
    margin: auto;
}

section:nth-of-type(6) p {
    margin: 20px 0;
}

section:nth-of-type(6) .grid p {
    margin: 0;
}

section:nth-of-type(7) {
    background-color: var(--cambridge-blue);
}

/* her kommer styling for accordion i section 6 */
/* styler delen som brukes til å åpne og lukke accordion */
#accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    display: flex;
    align-items: center;
}

/* Legger til en bakgrunnsfarge på knappen hvis den klikkes på (legger til .active-klassen med JS), og når man flytter musen over den (hover) */
.active,
#accordion:hover {
    background-color: #ccc !important;
}

/* Styler den delen av accordion som ekspanderer når man klikker på knappen. Denne delen er hidden by default */
#panel {
    padding: 0 18px;
    background-color: #ccc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

#arrowIcon2 {
    color: var(--eminence);
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    .grid {
        display: block;
    }

    .container {
        max-width: 700px;
    }

    img {
        width: 70%;
        margin: auto;
        display: block;
    }

    section:nth-of-type(2) h2 {
        text-align: center;
    }

    p {
        margin: 20px 0;
    }

    section:nth-of-type(4) p {
        margin: 0;
    }

    .grid {
        margin-top: 0;
    }

    section:nth-of-type(3) .grid {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    section:nth-of-type(6) .grid {
        margin: 30px;
    }

    section:nth-of-type(6) .grid p {
        margin-top: 20px;
    }
}

section#mySources {
    margin: 0 auto;
}