@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: "Playpen Sans";
font-family: "Poppins";
*/

:root {
    --mountbatten-pink: #8c5f7bf0;
    --caribbean-current: #216869;
    /* used #0d8897 instead sometimes */
    --jungle-green: #398461
        /*#49A078*/
    ;
    --cambridge-blue: #9CC5A1;
    --eminence: #533172;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

main p {
    font-family: "Poppins", sans-serif;
}

main h2 {
    text-align: center;
    font-family: "Playpen Sans", sans-serif;
    font-size: 30px;
}

hr {
    border-top: 4px solid #533172;
    border-radius: 70px;
    margin: 20px;
}

h1 {
    font-size: 35px;
    font-family: "Playpen Sans";
    text-align: center;
    border-bottom: solid 3px var(--mountbatten-pink);
    width: fit-content;
    margin: auto;
}

section:first-of-type{
    padding-top: 20px;
}

section:nth-of-type(2) h2{
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
}

.panel .grid{
    padding: 0;
}

section:nth-of-type(2) .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
}

/*
section:nth-of-type(2) .container div{
    padding: 20px;    
}
*/

section:nth-of-type(3) .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

section:nth-of-type(3) {
    background-color: #49A078;
    color: black;
}

section:nth-of-type(4) img {
    width: 80px;
    border: 5px solid var(--eminence);
}

section:nth-of-type(4) .flex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:nth-of-type(4) .flex {
    justify-content: space-evenly;
}

section:nth-of-type(4)>.container>div>p:first-of-type {
    text-align: center;
    font-size: 24px;
}

section:nth-of-type(4)>.container>div span:first-of-type {
    font-size: 25px;
}

section:nth-of-type(4) p {
    text-align: center;
}

h3 {
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
    background-color: var(--eminence);
    color: white;
    padding: 3px 7px;
    border-radius: 40px;
    margin-top: 5px;
}

.colourful {
    color: #0d8897;
    font-weight: bold;
    font-size: 20px;
}

section:nth-of-type(4) a {
    padding: 3px 15px;
    width: fit-content;
    text-align: center;
    background-color: var(--cambridge-blue);
    border: solid 3px var(--caribbean-current);
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* do i need this? */
    gap: 5px;
    border-radius: 10px;
    font-size: 20px;
}

section:nth-of-type(4) a span {
    font-size: 25px;
    margin: auto;
}

/*
#0d8897
*/
section:nth-of-type(4) a:hover {
    background-color: var(--caribbean-current);
    border-color: var(--cambridge-blue);
    color: white;
    transition: background-color 1s, color 2s;
}


section:nth-of-type(5) {
    background-color: var(--mountbatten-pink);
}

section:nth-of-type(5) h2,
section:nth-of-type(5) p {
    color: white;
}

section:nth-of-type(5) img {
    width: 100%;
    margin: auto;
}

section:nth-of-type(7) {
    background-color: var(--cambridge-blue);
}

/* what is this for? */
#img{
    width: 30%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: #ccc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  