:root{
    --mountbatten-pink: #A28497; 
    --caribbean-current: #216869; 
    --jungle-green: #49A078; 
    --cambridge-blue: #9CC5A1; 
    --eminence: #533172; 
}

#hero{
    /* background-image: url("/bilder/accessibility.jpg");
    background-size: contain; */
    background-color: var(--cambridge-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .container{
    padding: 80px;

}

h1{
    text-align: center;
}